.logo-elkopra {
  width: 135px;
  background-color: #4830b0;
}

.navgroup,
.card-custom-1 {
  background-color: #4830b0;
}

.group43 {
  width: 33rem;
}

.title-box {
  margin-top: 125px;
  margin-left: 90px;
  color: aliceblue;
}

.title-box-1 {
  font-size: 2.8rem;
}

.text-icon {
  color: aliceblue;
  font-size: 1.5rem;
}

.input {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.tombol {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.noted {
  font-size: 0.8rem;
}

.img-card {
  right: -5.5rem;
  bottom: 0.1rem;
  position: absolute;
  width: 47.0rem;
}

ul li {
  list-style-type: none;
}

li>p>img {
  width: 1rem;
}

ul>li>a {
  text-decoration: none;
  color: aliceblue;
}

ul>li>a>img {
  width: 1rem;
  margin-right: 1rem;
}

.imgIcon {
  width: 50px;
}